.margin-for-footer {
    margin-bottom: 130px;
}


body {
    padding-top: 50px;
    background: url('/static/single_pages/images/ss.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* background-color: gray; */
}