{% extends 'blog/base_full_width.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Program {% endblock %}

{% block main_area %}
    <h1>Inputdata</h1>
    <hr/>
    
        <form action="{% url 'result' %}" method="GET">
        <input type="text" name='a' placeholder="a입력" id="a">
        <input type="text" name='b' placeholder="b입력" id="b">
        
        <button class="btn btn-secondary" type="submit" onclick="program();">Result</button>
        </form>

{% endblock %}
{% comment %} 네비바 푸터 다적용하고 내용만 입력하는 화면 만드셈 {% endcomment %}

<script>
    function program(){
        let inputValue = document.getElementById('program-input')
    };

    document.getElementById('program-input').addEventListener('keyup', function(event){
        if(event.key === 'Enter'){
            program();
        }
    });
</script>